/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
**/

.bokez-blockquote{
	border: none;
	padding: 1em;
	font-size: 1.3rem;

	&:after, 
	&:before{
		display: none;
	}
}

.bokez-blockquote cite{
	display: block;
	margin-top: 1em;
	font-size: 0.8em;
	text-transform: capitalize;
}

@media screen and ( min-width: $tablet ) {

	.bokez-blockquote{
		font-size: 1.5rem;
	}

}