.input-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.input-wrapper button {
  width: 40px;
  height: 30px;
}

.dimention-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 1em;
}

.dimention-label {
  margin-bottom: 4px;
}

.input-container {
  display: flex;
  flex-direction: row;
}
