.advanced-background-position-buttongroup {
	.components-button.is-button {
		border-bottom: 0;
		margin-top: -1px;
		height: 40px;
		display: inline-flex;

		&:first-child {
			border-radius: 0;
		}

		&:nth-of-type(1) .dashicon {
			transform: rotate(45deg);
		}
		&:nth-of-type(3) .dashicon {
			transform: rotate(-35deg);
		}
		&:nth-of-type(7) .dashicon {
			transform: rotate(-45deg);
		}
		&:nth-of-type(9) .dashicon {
			transform: rotate(35deg);
		}
	}
}
