.wp-block-advanced-pricing-table {
	&:empty {
		display: none;
	}

	.inline-container {
		display: inline-block;
		vertical-align: middle;

		select,
		> div {
			margin: 0;
		}
	}

	&__add {
		svg {
			display: inline-block;
			vertical-align: middle;
			margin-top: 5px;
		}
	}

	&__featured {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&__features {
		margin-top: 2.5rem !important;
		margin-bottom: 2rem !important;
	}

	.components-button {
		i {
			transform: translateX(-3px);
			font-size: 15px;
		}
	}

	.is-selected {
		outline: 4px solid #0085ba;
		outline-offset: -4px;
	}
	.block-library-gallery-item__inline-menu {
		width: 100%;
		background-color: transparent;
		button {
			background-color: #0085ba;
			color: #fff;
			position: absolute;
			top: 0;
		}
	}

	.blocks-gallery-item__remove:not(.item-left) {
		right: 0;
	}

	.item-left {
		right: initial;
		left: 0;
		width: 30px;
		height: 30px;
		display: inline-block;
		flex: 0 0 auto;
	}

	.editor-rich-text__tinymce.mce-content-body {
		line-height: 1.2;
	}

	&.has-full-width-button {
		.wp-block-button {
			width: 100%;
		}
	}
}

.edit-post-visual-editor .wp-block-advanced-pricing-table ul {
	list-style: none;
}
